<div>
<%= link_to("添加一类",new_admin_recommend_category_path,:class => "btn btn-default")%>

</div>
<div>
<%= link_to("返回文章列表",admin_recommends_path,:class => "btn btn-default")%>

</div>
<table class = "table table-bordered">
<% @recommend_categories.each do |recommend_category| %>
<tr>
<td>
<%= link_to(recommend_category.name)%>
</td>
<td>
<%= link_to("更改",edit_admin_recommend_category_path(recommend_category))%>
<%= link_to("删除",admin_recommend_category_path(recommend_category),:method => :delete, :data => {:confirm => "你确定？"})%>

</td>
<td>
<%= recommend_category.created_at %>
</td>


  </tr>
<% end %>

  </table>
