
<div class="category_sidebar tc border f12">
  <a style = "color:green">类别：</a>
<% @a.each do |category| %>
<%= link_to category.name, informationns_path(category: category.id) %>

   <% end %>
   <a class="backtop" href="javascript:;"><i class="fa fa-arrow-circle-up"></i></a>



 </div>
<table class = "table table-bordered">
<% @informationns.each do |informationn| %>
<tr>
<td>
<%= link_to(informationn.title,informationn_path(informationn))%>
</td>
<!-- <td>
 <%# <%= link_to("更改",edit_informationn_path(informationn))%> %>
<%# <%= link_to("删除",informationn_path(informationn),:method => :delete, :data => {:confirm => "你确定？"})%> %>

</td>-->
<td>
<%= informationn.created_at %>
</td>


  </tr>
<% end %>

  </table>
