<div>
<%= link_to("加一分类",new_admin_earticlecategory_path,:class => "btn btn-default")%>

</div>
<div>
<%= link_to("写一篇",new_admin_earticle_path,:class => "btn btn-default")%>

</div>

<table class = "table table-bordered">
<% @earticles.each do |article| %>
<tr>
<td>
<%= link_to(article.title,admin_earticle_path(article))%>
</td>
<td>
<%= link_to("更改",edit_admin_earticle_path(article))%>
<%= link_to("删除",admin_earticle_path(article),:method => :delete, :data => {:confirm => "你确定？"})%>

</td>
<td>
<%= article.created_at %>
</td>


  </tr>
<% end %>

  </table>
