<div>
<%= link_to("推荐一篇",new_admin_recommend_path,:class => "btn btn-default")%>

</div>
<table class = "table table-bordered">
<% @recommends.each do |recommend| %>
<tr>
<td>
<%= link_to(recommend.title,admin_recommend_path(recommend))%>
</td>
<td>
<%= link_to("更改",edit_admin_recommend_path(recommend))%>
<%= link_to("删除",admin_recommend_path(recommend),:method => :delete, :data => {:confirm => "你确定？"})%>

</td>
<td>
<%= recommend.created_at %>
</td>


  </tr>
<% end %>

  </table>
