<h1>更改</h1>

<%= simple_form_for [:admin,@article] do |f|%>
<%= f.input :title%>
<%= f.input :content%>
<%= f.input :flowwater%>
<%= f.input :domainage%>
<%= f.input :rank1%>
<%= f.input :video%>
<%= f.input :wechat%>
<%= f.input :platforms%>
<%= f.input :another%>
<%= f.submit "Submit"%>


<% end %>
