<h1>写一篇文章</h1>


<%= form_with scope: :article, url: admin_articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p >
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content, class: "markdown-editor" %>
  </p >
  <p>
    <%= form.submit %>
  </p >
<% end %>

<script>
  var simplemde = new SimpleMDE({ element: document.querySelector(".markdown-editor") });
</script>
