<h1><%= @article.title %></h1>
<h2><%= @article.article_category.try(:name) %></h2>
<p>
<%= simple_format(@article.content)%>

</p>
<p>
<%= simple_format(@article.flowwater)%>

</p>
<p>
<%= simple_format(@article.domainage)%>

</p>
<p>
<%= simple_format(@article.rank1)%>

</p>
<p>
<%= simple_format(@article.video)%>

</p>
<p>
<%= simple_format(@article.wechat)%>

</p>
<p>
<%= simple_format(@article.platforms)%>

</p>
<p>
<%= simple_format(@article.another)%>

</p>
