<h1><%= @article.title %></h1>

<p>
<%= simple_format(@article.content)%>
<h5>分类：<%= @article.article_category.try(:name) %></h5>
</p>
<p>
<%= markdown @article.content %>

</p>
<p>
<%= simple_format(@article.flowwater)%>

</p>
<p>
<%= simple_format(@article.domainage)%>

</p>
<p>
<%= simple_format(@article.rank1)%>

</p>
<p>
<%= simple_format(@article.video)%>

</p>
<p>
<%= simple_format(@article.wechat)%>

</p>
<p>
<%= simple_format(@article.platforms)%>

</p>
<p>
<%= simple_format(@article.another)%>

</p>
