<h1><%= @seo.title %></h1>


<p>
<%= simple_format(@seo.number1)%>
</p>
<br>
<p>
<%= simple_format(@seo.bumber2)%>
</p>
<br>
<p>
<%= simple_format(@seo.mobile1)%>
</p>
<br>
<p>
<%= simple_format(@seo.mobile2)%>
</p>
<br>
<p>
<%= simple_format(@seo.description)%>
</p>
