<%= link_to("加一分类",new_admin_informationn_category_path,:class => "btn btn-default")%>


<h1> Add a job </h1>
<%= simple_form_for [:admin,@informationn] do |f| %>

<%= f.input :title %>
<%= f.input :content %>
<%= f.association :informationn_category %>
  <%= f.submit "Submit" %>
<% end %>
<h3> 投文件 </h3>
