<h1>更改</h1>

<%= simple_form_for [:admin,@seo] do |f|%>
<%= f.input :number_id%>
<%= f.input :title%>

<%= f.input :number1%>
<%= f.input :bumber2%>
<%= f.input :mobile1%>
<%= f.input :mobile2%>
<%= f.input :description%>
<%= f.submit "Submit"%>


<% end %>
