<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">

          <ul class = "nav nav-tabs">
          <li>  <a class="navbar-brand" href=" /">home </a></li>
  <li><a class="navbar-brand" href=" /earticles">articles </a></li>



<li><a class="navbar-brand" style="" href="">website</a></li>

<li><a class=" dropdown navbar-brand" data-toggle = "dropdown"href="">another </a>
<ul class="dropdown-menu">
<li> <%= link_to( ) %> </li>
<li> <%= link_to() %> </li>
</ul>
</li>

</ul>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>

                <% if !current_user %>
                   <li><%= link_to("注册", new_user_registration_path) %> </li>
                  <li><%= link_to("登入", new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <% if current_user.admin? %>
                      <li> <%= link_to("管理员", admin_articles_path) %> </li>
<% end %>
                        <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
              <% end %>




                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
  <!-- /.container-fluid -->
</nav>
<div class="blog-header">
  <h2 class="blog-title">shibin and his friend</h2>
  <p class="lead blog-description">learn make and share</p>
</div>
<div class="container-fluid">


<hr>
  <div class="row">

    <div class="col-sm-8 blog-main">





      <div class="blog-post">
<%= yield %>
      </div><!-- /.blog-post -->



    </div><!-- /.blog-main -->

    <div class="col-sm-4 blog-sidebar col-sm-offset" >
      <div class="jumbotron col-sm-12">
        <p class="lead">shibin friend</p>



      </div>


      <div class=" col-sm-12 sidebar-module">
        <h4>another</h4>
        <ol class="list-unstyled">
          <li><a href="/sentences">sentence</a></li>

        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->


<div class="header-top">


		    <div class="clearfix"> </div>
		</div>
