

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <a class="navbar-brand" href=" /">首页 </a>
  <a class="navbar-brand" href=" /articles">专业文章 </a>

  <a class="navbar-brand" href=" /asks">专业问答 </a>

<a class="navbar-brand" style="color:green" href=" /recommends">有用网址</a>
<a class="navbar-brand" href=" /qqgroups">群</a>

<a class="navbar-brand" href=" /informationns">其他 </a>

<a class="navbar-brand" href=" /downloads">下载</a>

        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>

                <% if !current_user %>
                  <li><%= link_to("注册", new_user_registration_path) %> </li>
                  <li><%= link_to("登入", new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <% if current_user.admin? %>
                      <li> <%= link_to("管理员", admin_articles_path) %> </li>
<% end %>
                        <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
              <% end %>




                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
  <!-- /.container-fluid -->
</nav>
<div class="blog-header">
  <h2 class="blog-title">朋友的花园</h2>
  <p class="lead blog-description">读书、健身、帮朋友、陪家人</p>
</div>
<div class="container-fluid">


<hr>
  <div class="row">

    <div class="col-sm-6 blog-main">





      <div class="blog-post">
<%= yield %>
      </div><!-- /.blog-post -->



    </div><!-- /.blog-main -->

    <div class="col-sm-6  blog-sidebar col-sm-offset">
      <div class="jumbotron col-sm-12">
        <p class="lead">提供1:研究专业知识</p>
        <p class="lead">提供2:研究专业路径</p>
        <p class="lead">提供3:鼓励陪伴做榜样</p>

        <a class="lead">朴素</a>
        <a class="lead">实做</a>



      </div>


      <div class=" col-sm-12 sidebar-module">
        <h4>其他</h4>
        <ol class="list-unstyled">
          <li><a href="#">燕子是一种很有象征意义的动物</a></li>

        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->


<div class="header-top">


		    <div class="clearfix"> </div>
		</div>
