

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <a class="navbar-brand" href=" /">首页 </a>
  <a class="navbar-brand" href=" /articles">文章 </a>
  <a class="navbar-brand" href=" /downloads">下载</a>
  <a class="navbar-brand" href=" /asks">我要问 </a>
<a class="navbar-brand" href=" /informationns">业界信息 </a>
<a class="navbar-brand" href=" /qqgroups">群</a>
<a class="navbar-brand" href=" /recommends">推荐</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>

                <% if !current_user %>
                  <li><%= link_to("注册", new_user_registration_path) %> </li>
                  <li><%= link_to("登入", new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <% if current_user.admin? %>
                      <li> <%= link_to("管理员", admin_articles_path) %> </li>
<% end %>
                        <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
              <% end %>




                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
  <!-- /.container-fluid -->
</nav>
<div class="blog-header">
  <h1 class="blog-title">Pure Pleasure-Reborn</h1>
  <p class="lead blog-description"><em>Read, Write, Observe, Think, Share – Reborn, Adapt, and Evolve</em></p>
</div>
<div class="container-fluid">


<hr>
  <div class="row">

    <div class="col-sm-6 blog-main">





      <div class="blog-post">
<%= yield %>
      </div><!-- /.blog-post -->



    </div><!-- /.blog-main -->

    <div class="col-sm-6  blog-sidebar col-sm-offset">
      <div class="jumbotron col-sm-12">
        <p class="lead">服务1:网站</p>
        <p class="lead">服务2:网站</p>
        <p class="lead">服务3:这件事情不错</p>
        <p class="lead">服务3:这件事情有意义</p>
        <p class="lead">石斌微信:shibingoodman</p>

      </div>

      <div class=" col-sm-12 sidebar-module">
        <h4>美文精选</h4>
        <ol class="list-unstyled">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>
      <div class=" col-sm-12 sidebar-module">
        <h4>其他</h4>
        <ol class="list-unstyled">
          <li><a href="#">a</a></li>
          <li><a href="#">b</a></li>
          <li><a href="#">c</a></li>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->
