<!DOCTYPE html>
<html>
  <head>
    <title>石斌</title>
    <meta name="石斌" content="这是石斌的个人网站，用于向朋友分享一些东西。">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

       <div class="container-fluid">
         <%= render "common/flashes" %>
           <%= render "common/navbar" %>

       </div>


       <%= render "common/footer" %>

   </body>
</html>
