<!DOCTYPE html>
<html>
  <head>
    <title>石斌 分享</title>
    <meta name="keywords" content="青岛网站 青岛网站建设 青岛wordpress网站 青岛网站推广 青岛网站优化 网站推广服务  石斌分享">
    <meta name="description" content="石斌 分享一些个人学到的知识和工具，尤其是网站和推广方面">

    <meta name="baidu-site-verification" content="code-BDw85Wlkl5" />

    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

       <div class="container-fluid">
         <%= render "common/flashes" %>
           <%= render "common/navbar" %>

       </div>


       <%= render "common/footer" %>

   </body>
</html>
