<!DOCTYPE html>
<html>
    <head>
        <title>石斌要持续为客户提供更多一点的价值 </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">


<%= yield %>

           </div>
      

        <%= render "common/english_footer" %>

    </body>
</html>
