<!DOCTYPE html>
<html>
    <head>
        <title>Chinese mould </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
            <%= render "common/english_navbar" %>
            <%= render "common/flashes" %>
            <div class="row">



           </div>
        </div>

        <%= render "common/english_footer" %>

    </body>
</html>
